
<h3 class="note-title">Novels</h3>

<ul class="pb-8">
  {%- for item in collections.novelsAlpha -%}
    <li>
      <a href="{{item.url}}" class="normal-text">
        {{ item.data.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>