---
layout: layout.njk
eleventyExcludeFromCollections: true
---

<div class="md:grid grid-cols-4 gap-4 my-10 lg:my-20">
  <div class="col-span-1 mb-4">
    {% img 'quarter', 'steinbeck01', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="col-span-3 flex self-center text-2xl font-nunito_medium text-gray-700  leading-normal" >
    <div class="w-full text-center">
      Sorry, this page could not be found.
    </div>
  </div>
</div>


