---
layout: layout.njk
eleventyExcludeFromCollections: true
---

<div class="md:grid grid-cols-4 gap-4">
  <div class="flex col-span-2 font-nunito_regular text-right self-center">
    <div class="text-xl text-brown-600 leading-tight mb-4">
      "I don't like people to be hurt or hungry or unnecessarily sad. It's just about as simple as that."
    </div>
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck01', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck02', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck03', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck04', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck05', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck06', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck07', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck08', 'jpg', 'John Steinbeck portrait' %}
  </div>
  <div class="mb-4">
    {% img 'quarter', 'steinbeck09', 'jpg', 'John Steinbeck portrait' %}
  </div>
 </div>
