<header class="border-b border-brown-50 pt-10 lg:pt-2 pb-2">
  <div class="flex flex-col lg:flex-row w-full lg:justify-between lg:px-32 py-3">

    <div class="flex lg:justify-start pb-4 lg:pb-0">
      <a href="/" class="flex flex-col lg:flex-row w-full text-center lg:text-left">
        <h1 class="self-center font-nunito_bold text-3xl text-deep-orange-700 no-underline">
          John Steinbeck
        </h1>
      </a>
    </div>

    <div class="flex flex-col lg:flex-row lg:justify-end text-lg font-inter_light text-brown-900 lg:text-xl leading-none pb-8 lg:pb-0">
      <a href="{{ env.baseUrl }}/archives" 
      class="{{ 'text-deep-orange-700' if '/archives' in page.url }} hover:text-deep-orange-700 self-center no-underline px-2 py-2 ">
        Archives
      </a>
      <a href="{{ env.baseUrl }}/novels" 
      class="{{ 'text-deep-orange-700' if '/novels' in page.url }} hover:text-deep-orange-700 self-center no-underline px-2 py-2">
        Novels
      </a>
      <a href="{{ env.baseUrl }}/stories" 
      class="{{ 'text-deep-orange-700' if '/stories' in page.url }}
      hover:text-deep-orange-700 self-center no-underline px-2 py-2">
        Stories
      </a>
      {# <a href="{{ env.baseUrl }}/nonfiction" 
      class="{{ 'text-deep-orange-700' if '/nonfiction' in page.url }} hover:text-deep-orange-700 self-center no-underline px-2 py-2">
        Nonfiction
      </a>
      <a href="{{ env.baseUrl }}/references" 
      class="{{ 'text-deep-orange-700' if '/references' in page.url }} hover:text-deep-orange-700 self-center no-underline px-2 py-2">
        References
      </a>
      <a href="{{ env.baseUrl }}/about" 
      class="{{ 'text-deep-orange-700' if '/about' in page.url }} hover:text-deep-orange-700 self-center no-underline px-2 py-2">
        About
      </a> #}
    </div>
  </div>
</header>
