---
layout: layout-base.njk
colored-backgrounds: bg-deep-purple-100 sm:bg-red-100 md:bg-orange-100 lg:bg-yellow-100 xl:bg-white
---

<main class="container mx-auto ">
  <div class="w-11/12 md:w-5/6 lg:w-4/5 xl:w-2/3 mx-auto text-lg py-12">
    {{ content | safe }}
  </div>
</main>