{% for item in items %}

    {% if loop.last %}
      <article class="w-full pt-12 pb-10">
    {% else %}
      <article class="w-full pt-16 pb-10 border-b border-gray-400">
    {% endif %} 
        {{item.templateContent | safe }}
      </article>

{% endfor %}