---
title: About
layout: layout.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.about
  size: 10
  alias: items
  reverse: true
---

{% include "paging-buttons-top.njk" %}

{% include "paging-items.njk" %}

{% include "paging-buttons-bottom.njk" %}

