---
layout: layout.njk
date: "2020-06-27"
title: Breakfast
tags: stories
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid lg:grid-cols-4 gap-8">
  <div class="col-span-3">
    <p class="note-text">
     It was very early in the morning. The eastern mountains were black-blue, but behind them in the light stood up faintly colored at the mountain rims with a washed red, growing colder, greyer and darker as it went up and overhead until, at a place near the west, it merged with pure night.
    </p>
    <p class="note-text">
     And it was cold, not painfully so, but cold enough so that I rubbed my hands and shoved them deep into my pockets, and I hunched my shoulders up and scuffled my feet on the ground. Down in the valley where I was, the earth was that lavender grey of dawn. I walked along a country road and ahead of me I saw a tent that was only a little lighter grey than the ground. Beside the tent there was a flash of orange fire seeping out of the cracks of an old rusty iron stove. Grey smoke spurted up out of the stubby stovepipe, spurted up a long way before it spread out and dissipated.
    </p>
    <p class="note-text">
     I saw a young woman beside the stove, really a girl. She was dressed in a faded cotton skirt and waist. As I came close I saw that she carried a baby in a crooked arm and the baby was nursing, its head under he waist out of the cold. The mother moved about, poking the fire,shifting the rusty lids of the stove to make a greater draft, opening the oven door; and all the time the baby was nursing, but that didn't interfere with the mother's work, now with the light quick gracefulness ofher movements. There was something very precise and practiced in her movements. The orange fire flickered out of the cracks in the stove and threw dancing reflecitons on the tent.
    </p>
    <p class="note-text">
     I was close now and I could smell frying bacon and baking bread, the warmest, pleasantest odors I know.
    </p>
  </div>
</div>
