---
layout: layout.njk
date: "2020-06-23"
title: Flight
tags: stories
imageUrl0: https://unsplash.com/@stphnwlkr?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText
imageCredit0: Stephen Walker on Unsplash 
imageUrl1: https://unsplash.com/@lydiakoh?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText
imageCredit1: Lydia Koh on Unsplash 
imageUrl2: https://unsplash.com/@taylorgsimpson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText
imageCredit2: Taylor Simpson on Unsplash 

unsplash2: <span>Photo by <a href="https://unsplash.com/@taylorgsimpson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Taylor Simpson</a> on <a href="/s/photos/monterrey-california?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>



---

<h3 class="note-title">{{ title }}</h3>

<div class="md:grid grid-cols-4 gap-8">
  <div class="col-span-2">
    <p class="note-text">
     Pepe turned back to Mama. He seemed to look for a little softness, a little weakness in her. His eyes were searching, but Mama's face remained fierce. "Go now," she said. "Do not wait to be caught like a chicken."
    </p>
    <p class="note-text">
     Pepe pulled himself into the saddle. "I am a man," he said.
    </p>
    <p class="note-text">
     It was the first dawn when he rode up the hill toward the little canyon which let a trail into the mountains. Moonlight and daylight fought with each other, and the two warring qualities made it difficult to see.  Before Pepe had gone a hundred yards, the outlines of his figure were misty; and long before he entered the canyon, he had become a grey, indefinite shadow.
    </p>
    <p class="note-text">
     Mama stood stiffly in front of her doorstep, and on either side of her stood Emilio and Rosy. They cast furtive glances at Mama now and then.
    </p>
    <p class="note-text">
     When the grey shape of Pepe melted into the hillside and disappeared, Mama relaxed. She began the high, whining keen of the death wail. "Our beautiful--our brave," she cried. "our protector, our son is gone." Emilio and Rosy moaned beside her. "Our beautiful--our brave, he is gone." It was the formal wail. It rose to a high piercing whine and subsided to a moan. Mama raised it three times and then she turned and went into the house and shut the door.
    </p>
  </div>
  <div class="col-span-2 flex self-end pb-4">
    <div class="">
      {% img 'half', 'ZQqH3p4kyes', 'jpg', 'California mountains' %}
        <a
        href="{{ imageUrl1 }}"
        target="_blank" rel="noopener noreferrer"
        >
          <div class="note-credit">
            {{ imageCredit1 }}
          </div>
        </a>
    </div>
  </div>
</div>

<div class="pb-4">
  {% img 'full', 'F2lJZehrwk', 'jpg', 'California mountains' %}
    <a
    href="{{ imageUrl0 }}"
    target="_blank" rel="noopener noreferrer"
    >
      <div class="note-credit">
        {{ imageCredit0 }}
      </div>
    </a>
</div>

<div class="grid md:grid-cols-4 gap-8">
  <div class="col-span-2">
    <p class="note-text">
     Emilio and Rosy stood wondering in the dawn. They heard Mama whimpering in the house. They went out to sit on the cliff above the ocean. They touched sholders. "When did Pepe come to be a man?" Emilio said.
    </p>
    <p class="note-text">
     "Last night," said Rosy. "Last night in Monterey." The ocean clouds turned red with the sun that was behind the mountains.
    </p>
    <p class="note-text">
     "We will have no breakfast," said Emilio. "Mama will not want to cook." Rosy did not answer him. "Where is Pepe gone?" he asked.
    </p>
    <p class="note-text">
     Rosy looked around at him. She drew her knowledge from the quiet air. "He has gone on a journey. He will never come back."
    </p>
    <p class="note-text">
     "Is he dead? Do you think he is dead?"
    </p>
    <p class="note-text">
     Rosy looked back at the ocean again. A little steamer, drawing a line of smoke sat on the edge of the horizon. "He is not dead," Rosy explained. "Not yet."
    </p>
  </div>
  <div class="col-span-2 flex self-start ">
    <div class="">
      {% img 'half', 'pAxPpGHY12A', 'jpg', 'California mountains' %}
        <a
        href="{{ imageUrl2 }}"
        target="_blank" rel="noopener noreferrer"
        >
          <div class="note-credit">
            {{ imageCredit2 }}
          </div>
        </a>
    </div>
  </div>
</div>

<div class="grid grid-cols-4 gap-8">
  <div class="col-span-3">

    
  </div>
</div>
