---
layout: layout.njk
date: "2020-06-25"
title: The Harness
tags: stories
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid lg:grid-cols-4 gap-8">
  <div class="col-span-3">
    <p class="note-text">
     Once a year Peter went away for a week, leaving his wife alone on the farm. To neighbors who called to keep her company she invariably explained, "He's away on a business trip."
    </p>
    <p class="note-text">
     Each time Peter returned from a business trip, Emma was ailing for a month or two, and this was hard on Peter, for Emma did her own work and refused to hire a girl. When she was ill, Peter had to do the housework.
    </p>
    <p class="note-text">
     The Randall ranch lay across the Salinas River, next to the foothills. It was an ideal balance of bottom and upland. Forty-five acres of rich level soil brought from the cream of the county by the river in old times and spread out as flat as a board; and eighty acres of gentle upland for hay and orchard. The white farmhouse was as neat and restrained as its owners. The immediate yard was fenced, and in the garden, under Emma's direction, Peter raised button dahlias and immortelles, carnations and pinks.
    </p>
    <p class="note-text">
     From the front porch one could look down over the flat to the river with its sheath of willows and cottonwoods, and across the river to the beet fields, and past the fields to the bulbous dome of the Salinas courthouse. Often in the afternoon Emma sat in a rocking-chair on the front porch, until the breeze drove her in. She knitted constantly, looking up now and then to watch Peter working on the flat or in the orchard, or on the slope below the house.
    </p>
    <p class="note-text">
     The Randall ranch was no more encumbered with mortgage than any of the others in the valley. The crops, judiciously chosen and carefully tended, paid the interest, made a reasonable living and left a few hundred dollars every year toward paying off the principal. It was no wonder that Peter Randall was respected by his neighbors and that his seldom spoken words were given attention even when they were about the weather or the way things were going. Let Peter say, "I'm going to kill a pig Saturday," and nearly every one of his hearers went home and killed a pig on Saturday. They didn't know why, but if Peter Randall was going to kill a pig, it seemed like a good, safe, conservative thing to do.
    </p>
  </div>
</div>
