---
layout: layout.njk
date: "2020-06-26"
title: The Raid
tags: stories
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid lg:grid-cols-4 gap-8">
  <div class="col-span-3">
    <p class="note-text">
     A train hooted mournfully, and in a moment it rounded a bend and pushed its terrible light down the track. The lighted coaches rattled past. Dick turned to watch it go by. "Not many people on that one," he said with satisfaction. "Didn't you say your old man worked on the railroad?"
    </p>
    <p class="note-text">
     Root tried to keep the bitterness out of his voice. "Sure, he works on the road. He's a brakeman. He kicked me out when he found out what I was doing. He was cared he'd lose his job. He couldn't see. I talked to him, but he just couldn't see. He kicked me right out." Root's voice was lonely. Suddenly he realized how he had weakened and how he sounded homesick. "That;s the trouble with them," he went on harshly. "They can't see what's happening to them. They hang on to their chains."
    </p>
    <p class="note-text">
     "Save it," said Dick. "That's good stuff. Is that part of your speech?"
    </p>
    <p class="note-text">
     "No, but I guess I'll put it in if you say it's good."
    </p>
    <p class="note-text">
     The street lights were fewer now. A line of locust trees grew along the road, for the town was beginning to thin and country took control. Along the unpaved road there were a few little houses with ill-kept gardens.
    </p>
    <p class="note-text">
     "Jesus! It's dark," Root said again. "I wonder if there'll be any trouble. It's a good night to get away if anything happens."
    </p>
    <p class="note-text">
     Dick snorted into the collar of his peajacket. They walked along in silence for a while.
    </p>
    <p class="note-text">
     "Do you think you'd try to get away, Dick?" Root asked.
    </p>
    <p class="note-text">
     "No, by God! It's against orders. If anything happens we got to stick. You're just a kid. I guess you'd run if I let you!"
    </p>
    <p class="note-text">
     Root blustered: "You think you're hell on wheels just because you been out a few times. You'd think you was a hundred to hear you talk."
    </p>
    <p class="note-text">
     "I'm dry behind the ears, anyway," said Dick.
    </p>
    <p class="note-text">
     Root walked with his head down. He said softly, "Dick, are you sure you wouldn't run? Are you sure you could just stand there and take it?"
    </p>
    <p class="note-text">
     "Of course I'm sure. I've done it before. It's the orders, ain't it? Why, it's good publicity." He peered through the darkness at Root. "What makes you ask, kid? You scared you'll run? If you're scared you got no business here."
    </p>
    <p class="note-text">
     Root shivered. "Listen, Dick, you're a good guy. You won't tell nobody what I say, will you? I never been tried. How do I know what I'll do if somebody smacks me in the face with a club? How can anybody tell what he'd do? I don't think I'd run. I'd try not to run."
    </p>
    <p class="note-text">
     "All right, kid. Let it go at that. But you try running, and I'll turn your name in. We got no place for yellow bastards. You remember that, kid."
    </p>
  </div>
</div>
