---
layout: layout.njk
date: "2020-06-26"
title: The Snake
imageCredit0: Photo by Pixabay on Pexels
tags: stories
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid lg:grid-cols-4 gap-8">
  <div class="col-span-2">
    {% img 'half', 'snake', 'jpg', 'rattlesnake' %}
    <div class="note-credit">
      {{ imageCredit0 }}
    </div>
  </div>
  <div class="col-span-2">
    <p class="note-text">
     She asked, "What does he eat?"
    </p>
    <p class="note-text">
     "I feed them white rats, rats from the cage over there."
    </p>
    <p class="note-text">
     "Will you put him in the other cage? I want to feed him."
    </p>
    <p class="note-text">
     "But he doesn't need food. He's had a rat already this week. Sometimes they don't eat for three or four months. I had one that didn't eat for over a year."
    </p>
    <p class="note-text">
     In her low monotone she asked, "Will you sell me a rat?"
    </p>
    <p class="note-text">
     He shrugged his shoulders. "I see. You want to watch how rattlesnakes eat. All right. I'll show you. The rat will cost twenty-five cents. It's better than a bullfight if you look at it one way, and it's simply a snake eating his dinner if you look at it another." His tone had become acid. He hated people who made sport of natural processes. He was not a sportsman but a biologist. He could kill a thousand animals for knowledge, but not an insect for pleasure. He'd been over this in his mind before.
    </p>
    <p class="note-text">
     She turned her head slowly toward him and the beginning of a smile formed on her thin lips. "I want to feed my snake," she said.
    </p>
  </div>
</div>
