---
layout: layout.njk
date: "2020-06-24"
title: The White Quail
imageCredit0: Photo by Yohann LIBOT on Unsplash
imageUrl0: https://unsplash.com/@yohannlibot
tags: stories
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid md:grid-cols-4 gap-8">
  <div class="col-span-2">
    <div class="note-text">
      After she was in bed in her own little bedroom she heard a faint click and saw the door knob turn, and then turn slowly back. The door was locked. It was a signal; there were things Mary didn't like to talk about. The lock was an answer to a question, a clean, quick, decisive answer. It was peculiar about Harry, though. He always tried the door silently. It seemed as though he didn't want her to know he had tried it. But she always did know. He was sweet and gentle. It seemed to make him ashamed when he turned the knob and found the door locked.
    </div>
  </div>
  <div class="col-span-2">
    {% img 'half', 'white-quail', 'jpg', 'a woman alone in bed' %}
    <a
    href="{{ imageUrl0 }}"
    target="_blank" rel="noopener noreferrer"
    >
      <div class="note-credit">
        {{ imageCredit0 }}
      </div>
    </a>
  </div>
</div>
