---
layout: layout.njk
date: "2020-06-23"
title: Of Mice and Men
tags: novels
---

<h3 class="note-title">{{ title }}</h3>

<div class="grid lg:grid-cols-4 gap-8">
  <div class="col-span-3">
    <p class="note-text">
      “I see hundreds of men come by on the road an’ on the ranches with their bindles on their back an’ that same damn thing in their heads. Hundreds of them. They come, an’ they quit an’ go on; an’ every damn one of ‘em’s got a little piece of land in his head. An’ never a God damn one of ‘em ever gets it. Just like heaven. Ever’body wants a little piece of lan’. I read plenty of books out there. Nobody never gets to heaven, and nobody never gets no land. It’s just in their head.” 
    </p>
  </div>
</div>
